<div class="header"> 
   <p>User management</p> 
  <div *ngIf="router.url!=='/login'">Hello,{{authService.user.name}}</div>
</div>
<div class="link-container">
  <div class="sideBar" *ngIf="router.url!=='/login'">
    <div [routerLink]="'/my-page'"> My page</div>
    <div [routerLink]="'/dashboard'">Dashboard</div>
    <div [routerLink]="'/users'">Users</div>
    <div [routerLink]="'/login'">LogOut</div>
  </div>
  <router-outlet></router-outlet>
</div>
<div class="footer"> Сopyright © User management. All rights reserved.</div>
